@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "DRAguSans";
  font-display: swap;
  src: url("../fonts/DRAguSans-Medium.woff2") format("woff2"), url("../fonts/DRAguSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 48px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Circe";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Circe";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #282361;
  background: #a1cef8;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 60%;
  margin: 0 auto;
}

.form__title {
  max-width: 60%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.form__inp {
  max-width: 60%;
  margin: 0 auto;
}

.form__inp:not(:last-child) {
  margin-bottom: 20px;
}

.form__btn {
  font-size: 18px !important;
  padding: 10px 27px !important;
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 4px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5) !important;
          box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 4px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5) !important;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  display: block;
  width: 100%;
  font-family: DRAguSans;
  font-size: 18px;
  color: #918f8f;
  padding: 13px 11px;
  background: #ffffff;
  border-radius: 30px;
}

.input._error {
  outline: 1px solid red;
}

.title {
  text-align: center;
  font-size: 70px;
  line-height: 1.1;
  text-transform: uppercase;
}

.btn {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding: 15px 47px;
  color: #ffffff;
  background: #fc8132;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 10px #fff, 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 10px #fff, 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.decor::before,
.decor::after {
  content: "";
  position: absolute;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.popup-wrapper,
.popup-body {
  display: none;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

.popup-body {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 700px;
  padding: 30px 18px 35px;
  background: #a1cef8;
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  z-index: 99;
}

.header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.header__logo img {
  display: inline-block;
}

.header__logo img:first-child {
  width: 53%;
  margin-right: 3%;
}

.header__logo img:last-child {
  width: 40%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._no-webp .opening {
  background: url("../img/opening-phone.jpg") 50%/cover no-repeat; }

.opening {
  position: relative;
  height: 100vh;
  padding: 46px 0 50px 0;
  margin-bottom: 122px;
}

.opening__content {
  height: 100%;
}

.opening__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 1064px;
  font-weight: 700;
  font-size: 86px;
  line-height: 98%;
  letter-spacing: -0.02em;
  margin-top: 116px;
  margin-bottom: 30px;
}

.opening__btn {
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding: 15px 47px;
  color: #ffffff;
  background: #fc8132;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 10px #fff, 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 10px #fff, 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.opening__btn._fixed {
  position: static;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  font-size: 30px;
  line-height: 1;
  -webkit-transform: translate(-10px, 0);
      -ms-transform: translate(-10px, 0);
          transform: translate(-10px, 0);
  padding: 15px 30px;
}

.info {
  font-weight: 700;
  padding-bottom: 120px;
}

.info__content {
  position: relative;
}

.info__img {
  margin-bottom: 95px;
}

.info__img img {
  display: block;
  width: 100%;
}

.info__title {
  max-width: 900px;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 60px;
}

.info__list {
  margin-bottom: 220px;
}

.info__item:not(:last-child) {
  margin-bottom: 33px;
}

.info__row {
  margin-bottom: 150px;
}

.info__row_indent {
  margin-bottom: 100px;
}

.info__subtitle {
  position: relative;
  display: inline-block;
  font-weight: 800;
  font-size: 190px;
  z-index: 2;
}

.info__text {
  position: relative;
  margin-top: -10px;
  z-index: 2;
}

.adventure {
  padding-bottom: 190px;
}

.adventure__content {
  position: relative;
}

.adventure__child {
  margin-bottom: 125px;
  z-index: 20;
}

.adventure__title {
  line-height: 1.2;
  margin-bottom: 100px;
}

.adventure__block {
  position: relative;
  margin-bottom: 60px;
}

.adventure__img {
  display: block;
  width: 100%;
  margin-bottom: 45px;
}

.adventure__subtitle {
  max-width: 700px;
  min-height: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin: 0 auto;
}

.adventure__control {
  position: absolute;
  top: calc(50% - 85px);
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: inline-block;
}

.adventure__control_prev {
  left: -140px;
}

.adventure__control_next {
  right: -140px;
  -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.adventure__pagging {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.adventure__pagging .swiper-pagination-bullet {
  display: inline-block;
  cursor: pointer;
  width: 22.25px;
  height: 22.25px;
  border-radius: 50%;
  background: #ffffff;
}

.adventure__pagging .swiper-pagination-bullet:not(:last-child) {
  margin-right: 29px;
}

.adventure__pagging .swiper-pagination-bullet-active {
  background: #fc8132;
}

._no-webp .free {
  background: url("../img/free-phone.jpg") 50%/cover no-repeat; }

.free {
  height: 932px;
}

.free__content {
  position: relative;
  height: 100%;
  text-align: center;
  padding: 50px 0;
}

.free__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.free__title {
  max-width: 980px;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.2;
  margin: 0 auto 70px;
  color: #ffffff;
}

.free__btn {
  line-height: 1;
  padding: 22px 64px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about {
  padding: 215px 0;
}

.about__content {
  position: relative;
  max-width: 88%;
}

.about__title {
  margin-bottom: 134px;
}

.about__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 125px;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.1%;
          flex: 0 0 25.1%;
  margin-bottom: 120px;
}

.about__img img {
  display: inline-block;
  max-width: 100%;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__link svg {
  display: block;
}

.about__link path {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.about__link:not(:last-child) {
  margin-right: 180px;
}

@media (min-width: 480px) {
  .info {
    background: url("../img/lines-1.svg") 0 21.5%/105% auto no-repeat, url("../img/lines-2.svg") 0 89%/100% auto no-repeat;
  }
}

@media (min-width: 768px) {
  .adventure {
    background: url("../img/lines-3.svg") 0 56%/100% auto no-repeat;
  }

  .about {
    background: url("../img/lines-4.svg") 0 45%/100% auto no-repeat;
  }
}

@media (min-width: 769px) {
  .decor::before,
  .decor::after {
    content: "";
    position: absolute;
  }

  ._no-webp .decor_1::before {
    background: url("../img/planet-1.png") 50%/auto no-repeat; }

  .decor_1::before {
    top: 250px;
    left: -318px;
    width: 194px;
    height: 194px;
  }

  ._no-webp .decor_1::after {
    background: url("../img/planet-2.png") 50%/auto no-repeat; }

  .decor_1::after {
    top: 1187px;
    right: -251px;
    width: 251px;
    height: 192px;
  }

  ._no-webp .decor_2::before {
    background: url("../img/star-1.png") 50%/auto no-repeat; }

  .decor_2::before {
    top: 1485px;
    left: -306px;
    width: 306px;
    height: 291px;
  }

  ._no-webp .decor_2::after {
    background: url("../img/astronaut.png"); }

  .decor_2::after {
    top: 1972px;
    right: -125px;
    width: 409px;
    height: 426px;
  }

  ._no-webp .decor_3::before {
    background: url("../img/star-2.png") 50%/auto no-repeat; }

  .decor_3::before {
    top: 2934px;
    left: -86px;
    width: 148px;
    height: 155px;
  }

  ._no-webp .decor_4::before {
    background: url("../img/vremyaskok.png") 50%/auto no-repeat; }

  .decor_4::before {
    top: 269px;
    right: -327px;
    width: 249px;
    height: 353px;
  }

  ._no-webp .decor_4::after {
    background: url("../img/vremyaskok-2.png") 50%/auto no-repeat; }

  .decor_4::after {
    top: 866px;
    left: -366px;
    width: 285px;
    height: 360px;
  }

  ._no-webp .decor_5::before {
    background: url("../img/planet-3.png") 50%/auto no-repeat; }

  .decor_5::before {
    top: 1795px;
    left: -102px;
    width: 117px;
    height: 116px;
  }

  ._no-webp .decor_5::after {
    background: url("../img/tech.png") 50%/auto no-repeat; }

  .decor_5::after {
    right: -163px;
    bottom: -50px;
    width: 524px;
    height: 326px;
  }

  ._no-webp .decor_6::before {
    background: url("../img/dog-big.png") 50%/auto no-repeat; }

  .decor_6::before {
    top: 33px;
    left: -226px;
    width: 293px;
    height: 228px;
  }

  ._no-webp .decor_7::before {
    background: url("../img/interest.png") 50%/auto no-repeat; }

  .decor_7::before {
    left: -270px;
    bottom: -30px;
    width: 492px;
    height: 382px;
  }

  ._no-webp .decor_7::after {
    background: url("../img/smile.png") 50%/auto no-repeat; }

  .decor_7::after {
    right: 0;
    bottom: 150px;
    width: 116px;
    height: 121px;
  }
}

@media (min-width: 2049px) {
  ._container {
    max-width: 1260px;
  }

  .header__content {
    max-width: 1944px;
  }

  .opening__content {
    max-width: 1944px;
  }
}

@media (max-width: 2048px) {
  .header__content {
    max-width: 95%;
  }

  .opening__content {
    max-width: 95%;
  }
}

@media (max-width: 1272px) {
  .form__inp {
    max-width: 80%;
  }

  .title {
    font-size: 50px;
  }

  .btn {
    font-size: 22px;
    border-radius: 15px;
    padding: 15px 32.6px;
  }

  .opening__title {
    max-width: 70%;
    font-size: 55px;
  }

  .opening__btn {
    font-size: 22px;
    border-radius: 15px;
    padding: 20px 32.6px;
  }

  .opening__btn._fixed {
    font-size: 22px;
    padding: 15px 30px;
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 5px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 5px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
  }

  .info__subtitle {
    font-size: 150px;
  }

  .adventure__child {
    margin-bottom: 110px;
  }

  .adventure__title {
    margin-bottom: 80px;
  }

  .adventure__img {
    margin-bottom: 40px;
  }

  .adventure__control img {
    width: 62px;
  }

  .adventure__control_prev {
    left: -90px;
  }

  .adventure__control_next {
    right: -90px;
  }
}

@media (max-width: 1080px) {
  body {
    font-size: 40px;
  }

  .form__title {
    font-size: 32px;
  }

  .form__inp {
    max-width: 80%;
  }

  .title {
    font-size: 40px;
  }

  .btn {
    padding: 7px 20px;
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 5px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 5px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
  }

  .header {
    padding: 10px 0;
  }

  .header__logo img:first-child {
    width: 100%;
    margin-right: 0;
  }

  .header__logo img:last-child {
    width: 74%;
  }

  .opening {
    margin-bottom: 65px;
  }

  .opening__content {
    padding: 0 32px;
  }

  .opening__title {
    max-width: 60%;
    font-size: 47px;
    margin-top: 150px;
  }

  .opening__btn {
    bottom: 26px;
    padding: 7px 18px;
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 5px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 5px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
  }

  .info {
    padding-bottom: 60px;
  }

  .info__img {
    margin-bottom: 38px;
  }

  .info__title {
    max-width: 480px;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .info__list {
    margin-bottom: 75px;
  }

  .info__item {
    font-size: 26px;
  }

  .info__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .info__row {
    margin-bottom: 75px;
  }

  .info__row_indent {
    margin-bottom: 45px;
  }

  .info__subtitle {
    font-size: 100px;
    margin-bottom: 20px;
  }

  .info__text {
    font-size: 48px;
  }

  .adventure {
    padding-bottom: 98px;
  }

  .adventure__child {
    margin-bottom: 80px;
  }

  .adventure__block {
    margin-bottom: 10px;
  }

  .adventure__title {
    margin-bottom: 20px;
  }

  .adventure__img {
    margin-bottom: 14px;
  }

  .adventure__subtitle {
    max-width: 550px;
    min-height: 80px;
    font-size: 40px;
  }

  .adventure__control {
    top: calc(50% - 52px);
  }

  .adventure__control img {
    width: 35px;
  }

  .adventure__control_prev {
    left: -70px;
  }

  .adventure__control_next {
    right: -70px;
  }

  .adventure__pagging .swiper-pagination-bullet {
    width: 11.7px;
    height: 11.7px;
  }

  .adventure__pagging .swiper-pagination-bullet:not(:last-child) {
    margin-right: 15.2px;
  }

  .free {
    height: 490px;
  }

  .free__title {
    font-size: 50px;
    margin-bottom: 44px;
  }

  .free__btn {
    padding: 15px 30px;
  }

  .about {
    padding: 105px 0;
  }

  .about__title {
    margin-bottom: 65px;
  }

  .about__grid {
    margin-bottom: 60px;
  }

  .about__img {
    margin-bottom: 63px;
  }

  .about__link:not(:last-child) {
    margin-right: 70px;
  }

  .about__link svg {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }

  ._container {
    max-width: none;
    padding: 0 20px;
  }

  .form__title {
    max-width: none;
    font-size: 24px;
  }

  .form__inp {
    max-width: none;
  }

  .title {
    font-size: 20px;
  }

  .btn {
    max-width: 260px;
    font-size: 20px;
    line-height: 1;
    padding: 5px 25px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 4px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 4px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
  }

  .popup-body {
    max-width: none;
  }

  .header__content {
    padding: 0 20px;
  }

  .opening {
    padding: 24px 0 26px 0;
    margin-bottom: 64px;
  }

  .opening__title {
    max-width: 80%;
  }

  .opening__btn {
    padding: 7px 15px;
    font-size: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 5px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3), 0 0 0 5px #fff, 0px 0px 10px 2.5px rgba(0, 0, 0, 0.5);
  }

  .opening__btn._fixed {
    font-size: 18px;
    padding: 7px 15px;
  }

  .adventure {
    padding-bottom: 60px;
    background: url("../img/lines-1.svg") 0 54%/105% auto no-repeat;
  }

  .adventure__content {
    max-width: none;
    padding: 0 20px;
  }

  .adventure__child {
    margin-bottom: 50px;
  }

  .adventure__title {
    margin-bottom: 16px;
  }

  .adventure__block {
    margin-bottom: 15px;
  }

  .adventure__img {
    margin-bottom: 20px;
  }

  .adventure__subtitle {
    max-width: 200px;
    min-height: 36px;
    font-size: 18px;
  }

  .adventure__control {
    top: calc(50% - 18px);
  }

  .adventure__control img {
    width: 30px;
  }

  .adventure__control_prev {
    left: -10px;
  }

  .adventure__control_next {
    right: -10px;
  }

  .adventure__pagging .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .adventure__pagging .swiper-pagination-bullet:not(:last-child) {
    margin-right: 13px;
  }

  .free {
    height: 567px;
  }

  .free__content {
    padding: 33px 20px;
  }

  .free__title {
    font-size: 32px;
  }

  .about {
    padding: 70px 0 28px 0;
  }

  .about__title {
    margin-bottom: 33px;
  }

  .about__grid {
    margin-bottom: 23px;
  }

  .about__img {
    margin-bottom: 28px;
  }

  .about__link {
    width: auto;
  }

  .about__link svg {
    height: auto;
  }
}

@media (max-width: 478px) {
  .form__title {
    max-width: none;
  }

  .header {
    padding: 10px 0;
  }

  ._no-webp .opening {
    background: url("../img/opening-phone-mob.jpg") 0 0/cover no-repeat; }

  .opening {
    margin-bottom: 15.5px;
  }

  .opening__content {
    padding: 0 20px;
  }

  .opening__title {
    max-width: none;
    font-size: 26px;
    margin-top: 40px;
  }

  .opening__btn {
    bottom: 17px;
    font-size: 20px;
    padding: 7px 38px;
  }

  .opening__btn._fixed {
    font-size: 13px;
    padding: 5px 10px;
    -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3), 0 0 0 3px #fff, 0px 0px 6px 2.5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3), 0 0 0 3px #fff, 0px 0px 6px 2.5px rgba(0, 0, 0, 0.5);
  }

  .info {
    padding-top: 50px;
    background: url("../img/lines-5.svg") -20px 0/105% auto no-repeat, url("../img/lines-6.svg") 0 61%/100% auto no-repeat, url("../img/lines-7.svg") 0 98%/100% auto no-repeat;
  }

  ._no-webp .info__content .decor_1::before {
    background: url("../img/character.png") 50%/auto no-repeat; }

  .info__content .decor_1::before {
    content: "";
    position: absolute;
    top: 360px;
    right: 10px;
    width: 103px;
    height: 158px;
  }

  ._no-webp .info__content .decor_2::before {
    background: url("../img/dog.png") 50%/auto no-repeat; }

  .info__content .decor_2::before {
    content: "";
    position: absolute;
    right: 26px;
    bottom: 200px;
    width: 123px;
    height: 96px;
  }

  .info__img {
    margin-bottom: 12px;
  }

  .info__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .info__list {
    margin-bottom: 100px;
  }

  .info__item {
    font-size: 18px;
  }

  .info__item:not(:last-child) {
    margin-bottom: 5px;
  }

  .info__row {
    margin-bottom: 35px;
  }

  .info__subtitle {
    font-size: 50px;
    margin-bottom: 12px;
  }

  .info__text {
    font-size: 20px;
  }

  .free {
    height: 90vh;
  }

  .free__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (min-width: 769px) and (max-width: 1272px) {
  .decor_4::before {
    content: none;
  }

  .decor_4::after {
    content: none;
  }

  .decor_5::before {
    content: none;
  }

  .decor_5::after {
    content: none;
  }
}

@media (any-hover: hover) {
  .about__link:hover path {
    fill: rgba(0, 0, 139, 0.6);
  }
}

._webp .opening { background: url(../img/opening-phone.webp) 50%/cover no-repeat; }

._webp .free { background: url(../img/free-phone.webp) 50%/cover no-repeat; }

@media (min-width: 769px) {

  ._webp .decor_1::before { background: url(../img/planet-1.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_1::after { background: url(../img/planet-2.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_2::before { background: url(../img/star-1.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_2::after { background: url(../img/astronaut.webp); }
}

@media (min-width: 769px) {

  ._webp .decor_3::before { background: url(../img/star-2.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_4::before { background: url(../img/vremyaskok.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_4::after { background: url(../img/vremyaskok-2.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_5::before { background: url(../img/planet-3.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_5::after { background: url(../img/tech.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_6::before { background: url(../img/dog-big.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_7::before { background: url(../img/interest.webp) 50%/auto no-repeat; }
}

@media (min-width: 769px) {

  ._webp .decor_7::after { background: url(../img/smile.webp) 50%/auto no-repeat; }
}

@media (max-width: 478px) {

  ._webp .opening { background: url(../img/opening-phone-mob.webp) 0 0/cover no-repeat; }
}

@media (max-width: 478px) {

  ._webp .info__content .decor_1::before { background: url(../img/character.webp) 50%/auto no-repeat; }
}

@media (max-width: 478px) {

  ._webp .info__content .decor_2::before { background: url(../img/dog.webp) 50%/auto no-repeat; }
}